/* 
    background color - #DEC07F(dull color)
    my yellow color - rgb(255, 223, 118)
    black color - #13191E
*/

.home{
    background: rgb(255, 223, 118);
    width: 100%;
    height :100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card{
    background-color: #13191E;
    color: white;
    border-radius: 60px;
    padding:25px 40px;
    width:1600px;
    height: 3200px;

    

    position: relative;

    margin:auto;
    margin-top: 70px;
    margin-bottom: 70px;

    min-width: 800px;
    min-height: 720px;

    box-shadow: 0 0 50px rgb(46, 46, 46);


}

.arpan-pic{
    position: relative;
    z-index: 5;
    min-width: 35%;
}

.frontdetail{
    display:flex;
}

.background-Hello{
    position: absolute;
    max-width: min-content;
    top:0;
    right:20px;
    font-size:320px;
    color: rgb(59, 59, 59);
    
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.content{
    
    position: absolute;
    max-width:810px;
    margin-top:400px;
    top:0;
    right:0px;
    margin-left: auto;
    margin-right: 80px;
    

    font-family: 'Roboto', sans-serif;
  
}

.contacts{
    display:flex;
    column-gap: 100px;
    margin-top: 80px;
    
    position: relative;
    left:300px;

    max-width: max-content;
    
}


.main_title{
    font-size:100px;
    font-family: 'Chakra Petch', sans-serif;
    
}

em{
    color: rgb(255, 223, 118);
    font-style: normal;

}

a:link{
    text-decoration: none;
    color: rgb(255, 223, 118);
}

#mobiles:hover{
    background-color: white;
    color: #13191E ;
    border-radius: 5px;
     transition: all 0.15s ease-out;
}

.project-title{
    position: relative;
    
    bottom: 30px;
    font-size:200px;
    color: rgb(59, 59, 59);
    text-align: left;

    max-width: min-content;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.contactme-box{
    width: 100%;
    height: 600px;
    max-width: max-content;
    position: absolute;
    
    bottom: 200px;
    
}


.contactme-title{
    position: relative;

    max-width: max-content;
    font-size:150px;
    color: rgb(59, 59, 59);
    text-align: left;

    

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contactme-content{
    display:flex;
    max-width:1000px;
}

.contactme-text{
    width:35%;
    font-size: 75px;
    padding-top: 30px;
    min-width: 450px;
    
}

input{
    height: 60px;
    width: 300px;
    border-radius: 30px;
    border:none;
    padding:20px;
    background-color: #f2f2f2;
    outline:none;
    font-size: 20px;
}

input:focus::placeholder{
    color:transparent;
}

input::placeholder{
    color: #222;
    transition: color 0.3s ease;
}

.send_btn{
   
    margin-left: 40px;
    
}

.worldmap{
    margin-left: 50px;
    height: 100%;
}
