.project-box{
    margin-top: 300px;
    width: 100%;
    height: 2000px;
    
}

.project1, .project2{
    width: 100%;
    height: 50%;
}

.project1{
   display: flex;
   
}

.project1-no{
    color:rgb(59, 59, 59);
    font-size: 50px;
    margin-left: 50px;
    font-weight: 900;
    margin-bottom: 50px;
}

.project1-title{
    
    color: rgb(255, 223, 118);
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
    margin-bottom: 50px;
}

.project1-content{
    font-family: 'Roboto', sans-serif;
    width:550px;
    min-width:550px;
    
}

.project2{
    display: flex;
    
 }
 
 .project2-no{
     color:rgb(59, 59, 59);
     font-size: 50px;
     margin-left: 50px;
     font-weight: 900;
     margin-bottom: 50px;
 }
 
 .project2-title{
     
     color: rgb(255, 223, 118);
     font-size: 100px;
     font-family: 'Roboto', sans-serif;
     font-weight:bolder;
     margin-bottom: 50px;
 }
 
 .project2-content{
     font-family: 'Roboto', sans-serif;
     width:550px;
     min-width:550px;
 
     
 }

 .p2img{
    margin-top: 100px;
    height: max-content;
    width: max-content;
    margin-right: 80px;
 }

.project1img{
    width:100%;
    height: 920px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.project2img{
    width:100%;
    height:620px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

 #p1img1, #p1img2{
    margin-top: 80px;
 }

 #p1img1{
     height: 800px;
     width: 480px;
     margin-right: 80px;
     
 }

 #p1img2{
    height: 800px;
    width: 480px;
    
}
