.navbar{
    display: flex;
    justify-content: right;
    align-items: center;

   
    
}

img{
    width: 20px;
    height: 20px;
}

.navlist{
    margin-left: auto;
    
    display:flex;
    list-style: none;
    justify-content: flex-end; 
    color: white;
    z-index: 2;
}

 .navlistitems{
    padding: 0.45rem 2rem;
 }

 .navlistitems:hover{
    background-color: white;
    color: #13191E ;
    border-radius: 13px;
    transition: all 0.15s ease-out;
 }

 a{
     color: white;
 }
 a:hover{
     background-color: inherit;
 }


 